*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color:#3B4664;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw 7vw;
    height: 100vh;
    width: 100%;
    gap: 2rem;
}

input{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    text-align: end;
    color: #FFFFFF;
    padding: 10px 23px;
    background-color: #181F32;
    width: 500px;
    height: 100px;
    border-radius: 9px;
    border: none;
}

.calculations{
    width: 500px;
    height: 400px;
    background-color: #252D44;
    border-radius: 9px;
    padding: 30px 25px;
}

.buttons-calculator{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    gap: 2vw;
}

button{
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;
    color: #3B4664;
}

button:hover{
    background-color: #9fb7ca;
    color: #272e42;
}

button.span{
    grid-column: span 2;
}

button.del{
    text-align: center;
    background-color: #647299;
    color: beige;
}

button.reset{
    text-align: center;
    background-color: #647299;
    color: beige;
}

button.sum{
    text-align: center;
    background-color: #D13F30;
    color: beige;
}